@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/xampp\/htdocs\/cd\/sass\/style\.scss}line{font-family:\000031}}
.detail {
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/xampp\/htdocs\/cd\/sass\/style\.scss}line{font-family:\000037}}
.detail pre {
  background: transparent;
  border: none;
  font-size: 1.5em;
}
